---
layout: default
---
<article id="main">
  <div style='background-color: #091f34; width: 100%; display: block;'>
    <img src='{{ site.baseurl_root }}/images/code.jpg' style='width: 600px; margin-left: auto; margin-right: auto; display: block;'>
  </div>

  <header>
    <p>{% translate articles.header.aboutjade %}</p>
    <p>{% translate articles.examplelink.aboutjade %}</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
